USE [master]
GO
/****** Object:  Database [bhavcopy]    Script Date: 11/21/2018 4:06:10 PM ******/
CREATE DATABASE [bhavcopy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bhavcopy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bhavcopy.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bhavcopy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\bhavcopy_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bhavcopy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bhavcopy]
GO
USE [bhavcopy]
GO
/****** Object:  Table [dbo].[betaStocks]    Script Date: 11/21/2018 4:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[betaStocks](
	[Symbol] [nvarchar](1000) NULL,
	[Series] [datetime] NULL,
	[prev_close] [decimal](18, 2) NULL,
	[open_price] [decimal](18, 2) NULL,
	[high_price] [decimal](18, 2) NULL,
	[low_price] [decimal](18, 2) NULL,
	[last_price] [decimal](18, 2) NULL,
	[close_price] [decimal](18, 2) NULL,
	[vwap] [decimal](18, 2) NULL,
	[total_traded_qty] [decimal](18, 2) NULL,
	[turnover] [decimal](18, 2) NULL,
	[no_of_trades] [decimal](18, 2) NULL,
	[delivery_qty] [decimal](18, 2) NULL,
	[per_del_qty_to_traded_qty] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bhavcopy]    Script Date: 11/21/2018 4:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bhavcopy](
	[SYMBOL] [varchar](1000) NULL,
	[SERIES] [nvarchar](50) NULL,
	[OPEN] [decimal](18, 4) NULL,
	[HIGH] [decimal](18, 4) NULL,
	[LOW] [decimal](18, 4) NULL,
	[CLOSE] [decimal](18, 4) NULL,
	[LAST] [decimal](18, 4) NULL,
	[PREVCLOSE] [decimal](18, 4) NULL,
	[TOTTRDQTY] [decimal](18, 4) NULL,
	[TOTTRDVAL] [decimal](18, 4) NULL,
	[TIMESTAMP] [datetime] NULL,
	[TOTALTRADES] [int] NULL,
	[ISIN] [nvarchar](1000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CMVOLT]    Script Date: 11/21/2018 4:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMVOLT](
	[TIMESTAMP] [datetime] NULL,
	[Symbol] [nvarchar](1000) NULL,
	[Underlying_Close_Price] [decimal](18, 4) NULL,
	[Underlying_Previous_Day_Close_Price] [decimal](18, 4) NULL,
	[Underlying_Log_Returns] [decimal](18, 4) NULL,
	[Previous_Day_Underlying_Volatility] [decimal](18, 4) NULL,
	[Current_Day_Underlying_Daily_Volatility] [decimal](18, 4) NULL,
	[Underlying_Annualised_Volatility] [decimal](18, 4) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Delivery_Position]    Script Date: 11/21/2018 4:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_Position](
	[Record_Type] [int] NULL,
	[Sr_No] [int] NULL,
	[Name_of_Security] [nvarchar](1000) NULL,
	[Quantity_Traded] [nvarchar](100) NULL,
	[del_quantity_gross] [int] NULL,
	[percent_delivery] [int] NULL,
	[TIMESTAMP] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fo_bhavcopy]    Script Date: 11/21/2018 4:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fo_bhavcopy](
	[INSTRUMENT] [nvarchar](1000) NULL,
	[SYMBOL] [nvarchar](100) NULL,
	[EXPIRY_DT] [datetime] NULL,
	[STRIKE_PR] [decimal](18, 4) NULL,
	[OPTION_TYP] [varchar](100) NULL,
	[OPEN] [decimal](18, 4) NULL,
	[HIGH] [decimal](18, 4) NULL,
	[LOW] [decimal](18, 4) NULL,
	[CLOSE] [decimal](18, 4) NULL,
	[SETTLE_PR] [decimal](18, 4) NULL,
	[CONTRACTS] [int] NULL,
	[VAL_INLAKH] [decimal](18, 4) NULL,
	[OPEN_INT] [int] NULL,
	[CHG_IN_OI] [int] NULL,
	[TIMESTAMP] [datetime] NULL
) ON [PRIMARY]

GO
USE [master]
GO
